@import '../../styles/var.scss';

.dashboard-wrapper {
    @include mainWrapper();
    .dashboard-cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
    }
    .bootom-chart{
        height: 100%;
        .stacked-chart{
            height: 100% !important;
            &>div{
                height: 100% !important;
                canvas{
                    height: 100% !important;
                }
            }
        }
    }
}
